<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action="/process" method="post">
    Email: <input type="name" name="email">
    First Name: <input type="text" name="first_name">
    Last Name: <input type="text" name="last_name">
    Password: <input type="password" name="password">
    Confirm Password: <input type="password" name="c_password">

    <h1>Input your Date of Birth here</h1>
			<h1>Correct format is: dd/mm/yyyy</h1>
			<h1>Alternate formats also permitted: dd-mm-yyyy or dd.mm.yyyy as well as leap years as well</h1>
			Date of Birth:<input type="text" name="date_of_birth">

    <input type="submit">
  </form>
</body>
</html>
